<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >

  <!-- <span class="navbar-toggler-icon" style="margin-top:-0.5%">
   <img src="../images/logoB1.png" alt="" />
  </span> -->

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
</button>
<!--  <a class="navbar-brand" href="#">Navbar</a>-->

  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index" style="color:#1f57a4;font-weight: 400;
    		font-family: Arial;font-size:18px; margin-top:2%">HOME<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

     <ul class="navbar-nav" >
      <li>
        <a href="#menu">Menu</a>
      </li>
    </ul>

  </div>
</nav>
<!-- Menu -->
<nav id="menu">
  <ul>
    <li><a href="opportunities">Opportunities</a></li>
    <li><a href="mvp">Use-Cases</a></li>
    <li><a href="use-cases">MVP</a></li>
    <li><a href="https://www.ibm.com/blockchain/news-and-events/">What's New</a></li>
    <li><a href="trainings">Trainings</a></li>
    <li><a href="client_wins">Client Wins</a></li>
    <li><a href="contacts">Contacts</a></li>
  </ul>
</nav>
<!--/.Navbar-->
