<% stylesheets.push('/css/table.css')%>
<% layout('layout') %>

	<!--Navbar-->
<% include partials/topNav %>
<% include partials/nav %>

<div id="wrapper">
	<!-- Header -->
	<header id="header">
		<div class="row" style="margin-top:-4%">
				<div class="col-md-6">
					<!--Featured image -->
					<div class="view overlay hm-white-light z-depth-1-half">
						<img src="/images/f1.jpg" class="img-fluid " alt="">
						<div class="mask">
						</div>
					</div>
					<br>
				</div>
				<div class="col-md-6">
					<!--Featured image -->
					<div class="view overlay hm-white-light z-depth-1-half">
<img src="/images/bc10.jpg" class="img-fluid " alt="">

					</div>
			</div>
</div>
		<div class="inner">
			<div class="row" style="padding-top:30px;">
				<!--First columnn-->
				<div class="col-md-12">
					<form class="form-inline">
						<label class="mr-sm-2" for="industrySelect">Industry</label>
						<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="industrySelect">
							<option selected>Choose...</option>
						</select>

						<label class="mr-sm-2" for="qtrSelect">Qtr</label>
						<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="qtrSelect">
							<option selected>Choose...</option>
						</select>

						<svg id="reset" class="link" fill="transparent" height="21" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 21" width="20" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.75 2.484c3.495 1.236 6 4.57 6 8.488 0 3.69-2.22 6.862-5.4 8.25"></path>
							<path d="M17.423 20.25l-4.073-1.028 1.028-4.072M6.75 19.46c-3.495-1.236-6-4.57-6-8.488 0-3.69 2.22-6.862 5.4-8.25"></path>
							 <path d="M2.077 1.694L6.15 2.722 5.122 6.794"></path>
						 </svg>
						 <span class="reset small-padding">Reset Filters</span>

						<!-- <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Remember my preference</span>
						</label> -->

						<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
					</form>

				</div>
				<!--First columnn-->
			</div>

			<section>
				<div class="container-fluid">
					<h3 style="font-weight: 600;
					font-family: Arial;color:#2d74da;font-size:20px;">Top Blockchain Opportunities - WON*</h3>
					<div id="table-wrapper">
						<div id="table-scroll">
							<table id="oppr_table" class="rwd-table">
								<!--<thead>
									 <tr>
										<th width="5%">Opportunity Number</th>
										<th width="6%">IOT</th>
										<th width="6%">Client name</th>
										<th width="45%">Description</th>
										<th width="3%">Engaged</th>
										<th width="4%">Engaged CIC</th>
										<th width="6%">Qtr</th>
										<th width="6%">Industry</th>
										<th width="6%">Oppty Value</th>
										<th width="6%">Opportunity owner</th>
									</tr>
								</thead>-->
								<!-- <tfoot>
									<tr>
										<td colspan="2"></td>
										<td>100.00</td>
									</tr>
								</tfoot> -->
							</table>
							<p class="small">*Data as per Sales Connect Extract.</p>
						</div>
					</div>
				</div>
			</section>

			<div class="row" style="padding-top:50px;">
				<!--First columnn-->
				<div class="col-md-12">
					<form class="form-inline">
						<label class="mr-sm-2" for="industrySelect1">Industry</label>
						<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="industrySelect1">
							<option selected>Choose...</option>
						</select>

						<label class="mr-sm-2" for="qtrSelect1">Qtr</label>
						<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="qtrSelect1">
							<option selected>Choose...</option>
						</select>

						<svg id="reset1" class="link" fill="transparent" height="21" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 21" width="20" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.75 2.484c3.495 1.236 6 4.57 6 8.488 0 3.69-2.22 6.862-5.4 8.25"></path>
							<path d="M17.423 20.25l-4.073-1.028 1.028-4.072M6.75 19.46c-3.495-1.236-6-4.57-6-8.488 0-3.69 2.22-6.862 5.4-8.25"></path>
							 <path d="M2.077 1.694L6.15 2.722 5.122 6.794"></path>
						 </svg>
						 <span class="reset small-padding">Reset Filters</span>

						<!-- <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Remember my preference</span>
						</label> -->

						<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
					</form>

				</div>
				<!--First columnn-->
			</div>

			<section>
				<div class="container-fluid">
					<div id="table-wrapper">
						<div id="table-scroll">
							<h3 style="font-weight: 600;
							font-family: Arial;color:#2d74da;font-size:20px;">Top Blockchain Opportunities Close To Be Realized*</h3>
							<!-- <div class="table-wrapper"> -->
							<table id="oppr_table1" class="rwd-table">
								<thead>

								</thead>

							</table>
							<p class="small">*Data as per Sales Connect Extract.</p>
						</div>
					</div>
				</div>
			</section>
			<div id="oppModal"></div>
		</div>
	</header>
	<!-- Footer -->
	<% include partials/footer %>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="js/opportunity_table.js"></script>
<script type="text/javascript" src="js/client_wins.js"></script>
<!-- <script type="text/javascript" src="js/clients_win0.js"></script> -->

	<!-- Scripts -->
