<% layout('layout') %>

	<!--Navbar-->
	<% include partials/nav %>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Blockchain in Industrial Sector</span>
								</a>



						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Contacts page</h1>
						</div>
					</div>

					<!-- Footer -->
					<% include partials/footer %>

			</div>
