<% layout('layout') %>

	<!--Navbar-->
	<% include partials/topNav %>
	<% include partials/nav %>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Contacts page</h1>
						</div>
					</div>

					<!-- Footer -->
					<% include partials/footer %>

			</div>
