<% layout('layout') %>

	<!--Navbar-->
	<% include partials/nav %>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Blockchain in Industrial Sector</span>
								</a>

								<!-- <div class="row">
									<div class="col-md-4">
									<div class="card">
									  <div class="card-body">
									    <h4 class="card-title">Card title</h4>
									    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
									    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									    <a href="#" class="card-link">Card link</a>
									    <a href="#" class="card-link">Another link</a>
									  </div>
									</div>
									</div>

									<div class="col-md-4">
									<div class="card">
									  <div class="card-body">
									    <h4 class="card-title">Card title</h4>
									    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
									    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									    <a href="#" class="card-link">Card link</a>
									    <a href="#" class="card-link">Another link</a>
									  </div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="card">
									  <div class="card-body">
									    <h4 class="card-title">Card title</h4>
									    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
									    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									    <a href="#" class="card-link">Card link</a>
									    <a href="#" class="card-link">Another link</a>
									  </div>
									</div>
								</div>


								</div> -->

								<div class="row">
									<img src="images/contacts1.jpg" class="img-fluid" alt="" style="margin: 0 auto">
								</div>

								<div class="row">
									<img src="images/contacts2.jpg" class="img-fluid" alt="" style="margin: 0 auto">
								</div>

								<div class="row">
									<img src="images/contacts3.jpg" class="img-fluid" alt="" style="margin: 0 auto">
								</div>

								<div class="row">
									<img src="images/contacts4.jpg" class="img-fluid" alt="" style="margin: 0 auto">
								</div>



								<div class="row">
								    <!--First columnn-->
								    <div class="col-md-4">
								        <!--Card-->
								        <div class="card">
								            <!--Card content-->
								            <div class="card-block">
								                <!--Title-->
								                <h3 class="card-title" style="margin-top:10px;">Contact Person 1</h3>
																<h6 class="card-subtitle mb-2 text-muted">Person Role</h6>
																	<h6 class="card-subtitle mb-2 text-muted">email</h6>
																<h6 class="card-subtitle mb-2 text-muted">mobile</h6>
																<h6 class="card-subtitle mb-2 text-muted">location</h6>
								            </div><!--/.Card block-->
								        </div><!--/.Card-->
								    </div>
								    <!--First columnn-->

								    <!--Second columnn-->
										<div class="col-md-4">
								        <!--Card-->
								        <div class="card">
								            <!--Card content-->
								            <div class="card-block">
								                <!--Title-->
								                <h3 class="card-title" style="margin-top:10px;">Contact Person 1</h3>
																<h6 class="card-subtitle mb-2 text-muted">Person Role</h6>
																	<h6 class="card-subtitle mb-2 text-muted">email</h6>
																<h6 class="card-subtitle mb-2 text-muted">mobile</h6>
																<h6 class="card-subtitle mb-2 text-muted">location</h6>
								            </div><!--/.Card block-->
								        </div><!--/.Card-->
								    </div>
								    <!--Second columnn-->

								    <!--Third columnn-->
										<div class="col-md-4">
								        <!--Card-->
								        <div class="card">
								            <!--Card content-->
								            <div class="card-block">
								                <!--Title-->
								                <h3 class="card-title" style="margin-top:10px;">Contact Person 1</h3>
																<h6 class="card-subtitle mb-2 text-muted">Person Role</h6>
																	<h6 class="card-subtitle mb-2 text-muted">email</h6>
																<h6 class="card-subtitle mb-2 text-muted">mobile</h6>
																<h6 class="card-subtitle mb-2 text-muted">location</h6>
								            </div><!--/.Card block-->
								        </div><!--/.Card-->
								    </div>
								    <!--Third columnn-->
								</div>


						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Contacts page</h1>
						</div>
					</div>

					<!-- Footer -->
					<% include partials/footer %>

			</div>
