<% layout('layout') %>

	<!--Navbar-->
	<% include partials/topNav %>
	<% include partials/nav %>
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<div style="margin-top:5%;">
						<div class="row"><div class="col-md-2"></div>
							<div class="col-md-8">
								<h2> BLOCK-CHAIN CORE TEAM</h2>
								<table class="table table-striped table-sm">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Role</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Chetna Thakur/India/IBM,</td>
											<td>BLOCK-CHAIN Leader</td>
										</tr>
										<tr>
											<th scope="row">1</th>
											<td>Sriram Lakshminarayanan/India/IBM,</td>
											<td>Block-Chain Leader & SPOC - Industrial Sector</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Chetan R Vijayendru/India/IBM,</td>
											<td>Block-Chain Support SPOC - Industrial Sector</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Naren Krishnan/India/IBM,</td>
											<td>Block-Chain SME & Lead Architect - Industrial Sector</td>
										</tr>
										<tr>
											<th scope="row">4</th>
											<td>Charudatta M Gosavi/India/IBM,</td>
											<td>Block-Chain SME & Lead Architect - Industrial Sector</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>


					<div style="margin-top: 5%;">
						<div class="row"><div class="col-md-2"></div>
							<div class="col-md-8">
								<h2> GBS CoC SPOCs</h2>
								<table class="table table-striped table-sm">
									<thead>
										<tr>
											<th>Practice</th>
											<th>CoC SPOCs / SMEs</th>
											<th>Go-To-Market SPOC</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Auto A&D</td>
											<td>Mathew Jones [Europe, Japan]<br/> Senthil Virthachalam [NA]</td>
											<td>To be Identified</td>
										</tr>
										<tr>
											<td>Electronics</td>
											<td>Jaime Marijuan Castro/Spain/IBM[Europe]<br/>Quentin B Samelson/Schaumburg/IBM [NA]<br/>Sanjay B Panikkar/India/IBM - Global SME</td>
											<td>To be Identified</td>
										</tr>
										<tr>
											<td>C&P</td>
											<td>Kim N Pham/Dallas/IBM</td>
											<td>To be Identified</td>
										</tr>
										<tr>
											<td>BA & S</td>
											<td>Sainath Yadati/SouthField/IBM</td>
											<td>To be Identified</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>

				</div>
			</header>



			<!-- Main -->
			<div id="main">
				<div class="inner">

				</div>
			</div>

			<!-- Footer -->
			<% include partials/footer %>

		</div>
