<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Generic - Phantom by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/table.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
</head>

<body>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="generic.html">Ipsum veroeros</a></li>
				<li><a href="generic.html">Tempus etiam</a></li>
				<li><a href="generic.html">Consequat dolor</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<table class="table generic-list">
					<thead class="generic-thead">
						<tr class="rt-cfApp generic-table-row" tabindex="0">
							<th class="col_tag-dea_diego generic-column-title"></th>
							<th class="col_list-text-dea_name generic-column-title">Name</th>
							<th class="col_list-route_routes_0_name generic-column-title">Route</th>
							<th class="col_list-text_memory generic-column-title">Memory (MB)</th>
							<th class="col_list-text_instances generic-column-title">Instances</th>
							<th class="col_list-text_running_instances generic-column-title">Running</th>
							<th class="col_list-state_i18n_state generic-column-title">State</th>
							<th class="col_link-diego_diego generic-column-title"></th>
							<th class="col_list-actions generic-column-title">Actions</th>
						</tr>
					</thead>
					<tbody class="generic-tbody generic-table-body">
						<tr data-model-id="6ec291c3-729d-4d42-a8a7-f5350be69729" class="rt-cfApp generic-list" tabindex="0">
							<td class="col_tag-dea_diego ">
								<!-- react-empty: 128 -->
							</td>
							<td class="col_list-text-dea_name ">
								<div class="tooltip-widget"><span>aad-solutions1</span><span class="tooltip-content">aad-solutions1</span></div>
							</td>
							<td class="col_list-route_routes_0_name ">
								<div class="tooltip-widget"><a href="https://aad-solutions1.mybluemix.net" class="bx--link">aad-solutions1.mybluemix.net</a><span class="tooltip-content">aad-solutions1.mybluemix.net</span></div>
							</td>
							<td class="col_list-text_memory ">
								<div class="tooltip-widget"><span>512</span><span class="tooltip-content">512</span></div>
							</td>
							<td class="col_list-text_instances ">
								<div class="tooltip-widget"><span>1</span><span class="tooltip-content">1</span></div>
							</td>
							<td class="col_list-text_running_instances ">
								<div class="tooltip-widget"><span>0</span><span class="tooltip-content">0</span></div>
							</td>
							<td class="col_list-state_i18n_state ">
								<div class="list-state bx--card-footer__app-status">
									<div class="bx--card-footer__app-status--stopped state-icon active">
										<div class="bx--running__text">stopped</div>
									</div>
								</div>
							</td>
							<td class="col_link-diego_diego ">
								<!-- react-empty: 154 -->
							</td>
							<td class="col_list-actions ">
								<div class="list-actions">
									<div class="async-message"></div>
									<div class="tooltip-widget bx--card-footer__app-actions"><button class="open-icon bx--app-actions__button" aria-label="Open URL" type="button"><svg viewBox="-630 393 18 16" class="bx--app-actions__button--icon"><path d="M-619.6 393.6v1.9h4.2l-1.1 1.2h-13.1v11.7h14.4V398l1.1-1.2v4.3h1.8v-7.5h-7.3zm3.1 13.9h-12.2v-9.8h11.2l-3.7 3.8 1.3 1.3 3.4-3.5v8.2z"></path></svg></button>
										<span
										  class="tooltip-content">Open URL</span>
									</div>
									<div class="card-overflow-menu tooltip-widget" tabindex="0">
										<div class="bx--overflow-menu" aria-label="more actions" tabindex="-1"><svg viewBox="0 0 12 60" class="bx--overflow-menu__icon"><g transform="rotate(90 6 6)" fill-rule="evenodd"><circle cx="6" cy="6" r="6"></circle><circle cx="30" cy="6" r="6"></circle><circle cx="54" cy="6" r="6"></circle></g></svg>
											<ul class="bx--overflow-menu__options">
												<li><button data-action-id="actions.start" class="bx--overflow-menu__btn" type="button">Start App</button></li>
												<li><button data-action-id="actions.rename" class="bx--overflow-menu__btn" type="button">Rename App</button></li>
												<hr class="">
												<li><button data-action-id="actions.delete" class="bx--overflow-menu__btn--delete" type="button">Delete App</button></li>
												<hr class="hide">
											</ul>
										</div><span class="tooltip-content">More Actions</span></div>
								</div>
							</td>
						</tr>
						<tr data-model-id="d3c7c375-8194-4f11-a329-600ecdfd654a" class="rt-cfApp generic-list" tabindex="0">
							<td class="col_tag-dea_diego ">
								<!-- react-empty: 181 -->
							</td>
							<td class="col_list-text-dea_name ">
								<div class="tooltip-widget"><span>blockchain_solution</span><span class="tooltip-content">blockchain_solution</span></div>
							</td>
							<td class="col_list-route_routes_0_name ">
								<div class="tooltip-widget"><a href="https://blockchain-solution.mybluemix.net" class="bx--link">blockchain-solution.mybluemix.net</a><span class="tooltip-content">blockchain-solution.mybluemix.net</span></div>
							</td>
							<td class="col_list-text_memory ">
								<div class="tooltip-widget"><span>512</span><span class="tooltip-content">512</span></div>
							</td>
							<td class="col_list-text_instances ">
								<div class="tooltip-widget"><span>1</span><span class="tooltip-content">1</span></div>
							</td>
							<td class="col_list-text_running_instances ">
								<div class="tooltip-widget"><span>1</span><span class="tooltip-content">1</span></div>
							</td>
							<td class="col_list-state_i18n_state ">
								<div class="list-state bx--card-footer__app-status">
									<div class="bx--card-footer__app-status--running state-icon active">
										<div class="bx--running__text">running</div>
									</div>
								</div>
							</td>
							<td class="col_link-diego_diego ">
								<!-- react-empty: 207 -->
							</td>
							<td class="col_list-actions ">
								<div class="list-actions">
									<div class="async-message"></div>
									<div class="tooltip-widget bx--card-footer__app-actions"><button class="restart-icon bx--app-actions__button" aria-label="Restart" type="button"><svg viewBox="-633 392 13 17" class="bx--app-actions__button--icon"><path d="M-632.097 401.978c0-3.4 2.8-6.2 6.3-6.2h3.5l-2.3-2.2.7-.7 3.5 3.5-3.5 3.5-.7-.7 2.3-2.2h-3.5c-2.9 0-5.3 2.3-5.3 5.2 0 2.9 2.4 5.2 5.3 5.2 1.4 0 2.7-.5 3.7-1.5l.7.7c-1.2 1.2-2.8 1.8-4.5 1.8-3.4-.2-6.2-3-6.2-6.4z"></path></svg></button>
										<span
										  class="tooltip-content" style="width: 46px;">Restart</span>
									</div>
									<div class="tooltip-widget bx--card-footer__app-actions"><button class="open-icon bx--app-actions__button" aria-label="Open URL" type="button"><svg viewBox="-630 393 18 16" class="bx--app-actions__button--icon"><path d="M-619.6 393.6v1.9h4.2l-1.1 1.2h-13.1v11.7h14.4V398l1.1-1.2v4.3h1.8v-7.5h-7.3zm3.1 13.9h-12.2v-9.8h11.2l-3.7 3.8 1.3 1.3 3.4-3.5v8.2z"></path></svg></button>
										<span
										  class="tooltip-content">Open URL</span>
									</div>
									<div class="card-overflow-menu tooltip-widget" tabindex="0">
										<div class="bx--overflow-menu" aria-label="more actions" tabindex="-1"><svg viewBox="0 0 12 60" class="bx--overflow-menu__icon"><g transform="rotate(90 6 6)" fill-rule="evenodd"><circle cx="6" cy="6" r="6"></circle><circle cx="30" cy="6" r="6"></circle><circle cx="54" cy="6" r="6"></circle></g></svg>
											<ul class="bx--overflow-menu__options">
												<li><button data-action-id="actions.stop" class="bx--overflow-menu__btn" type="button">Stop App</button></li>
												<li><button data-action-id="actions.restart" class="bx--overflow-menu__btn" type="button">Restart App</button></li>
												<li><button data-action-id="actions.rename" class="bx--overflow-menu__btn" type="button">Rename App</button></li>
												<hr class="">
												<li><button data-action-id="actions.delete" class="bx--overflow-menu__btn--delete" type="button">Delete App</button></li>
												<hr class="hide">
											</ul>
										</div><span class="tooltip-content">More Actions</span></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>


			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Get in touch</h2>
					<form method="post" action="#">
						<div class="field half first">
							<input type="text" name="name" id="name" placeholder="Name" />
						</div>
						<div class="field half">
							<input type="email" name="email" id="email" placeholder="Email" />
						</div>
						<div class="field">
							<textarea name="message" id="message" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send" class="special" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
						<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
						<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>

</body>

</html>
