<% layout('layout') %>
	<!--Navbar-->
<% include partials/topNav %>
<% include partials/nav %>

<div class="container-fluid">
   	<div class="wide"></div>
</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">
			</div>
		</header>

		<main>
			<div class="container">
				<!--First row-->
        <div class="row">
					<div class="col-md-7">
					    <!--Featured image -->
					    <div class="view overlay z-depth-1-half">
					        <!-- <img src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg" class="img-fluid " alt=""> -->
									<img src="/images/bc14.jpg" class="img-fluid " alt="">
					        <div class="mask">
					        </div>
					    </div>
					    <br>
					</div>

					<!--Main information-->
					<div class="col-md-5">
						<h2 class="h2-responsive" style="font-weight: 600;
						font-family: Arial;color:#2d74da;font-size:20px;">Blockchain in action</h2>
						<hr>
						<p>Get yourself familarize with IBM Blockchain. Explore the minimum viable products related to different usecases. Feel the touch of Blockchain.</p>
						<!-- <a href="" class="btn btn-primary">Get it now!</a> -->
					</div>
        </div>
        <!--/.First row-->

				<div class="row" id="mvp-content">

				</div>
				<!--/.Second row-->

			</div>
			<div id="idMyModal"></div>
		</main>


		<!-- Footer -->
		<% include partials/footer %>

	</div>
	<!-- Scripts -->
	<script src="js/mvp.js"></script>
