<% layout('layout') %>

	<!--Navbar-->
	<% include partials/nav %>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
					<a href="index" class="logo">
									<span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">BlockChain MVP</span>
								</a>

				</div>
			</header>

			<!-- Main -->
			<!--<div id="main">
						<div class="inner">
							<h1>Generic Page</h1>
							<span class="image main"><img src="../images/pic13.jpg" alt="" /></span>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel venenatis mauris vehicula hendrerit.</p>
							<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>
						</div>
					</div>-->
			<div id="main">
				<div class="inner">
					<div class="masonry">

						<div class="masonryitem">
							<span class="image">
											<img src="../images/b2.jpg" alt="" />
										</span>

						</div>

						<div class="masonryitem" style="background-color:#e5aeae">
							<h2>Conflict Mineral Management</h2>
							<p>MVP developed (Quentin B Samelson - Electronics COC. Planned to be presented @ Regional Industries Solution Summit in Tokyo-June)
							</p>
							<br>
							<h3>Problem Statement:</h3>
							<p>Electronic products rely on minerals which may be extracted from conflict zones. Legislation in Europe and the US requires that manufacturers audit their supply chains and report use of conflict minerals. Companies are attempting to use certifications
								& audit processes to comply, but these are only a partial solution.
							</p>
							<h3>Proposed Solution:</h3>
							<p>Use Blockchain’s “Provenance” (asset tracking) capabilities to track and trace minerals(compliant, non-conflict) all the way from mines to smelters to component manufacturing to the product assembler. This would enable a highly validated audit.
								Further, using Watson cognitive capabilities eliminate “false positives” such as companies that appear to be smelters but are physically located (for instance) on the 18th floor of an office building.
							</p>
						</div>


						<!--mvp2-->
						<div class="masonryitem" style="display=block; background-color:#9aa6f9">
							<h2>Intra-Company Invoicing : BP </h2>
							<p> POC in progress (Demoed to the UK Partner and planned to be shown to client by mid-June)</p>
							<h3>Problem Statement:</h3>
							<p> Currently British Petroleum handles reconciliation of “non-product” related intra-company transactions manually via a bespoke system that logs all disputed transactions. This leads to manual processes that need chasing down, therefore is labor
								intense and inefficient.
							</p>
							<h3>Proposed Solution:</h3>
							<p> Blockchain based solution to capture the Up-front agreement (UPA) between internal departments and follow it through via transactions such as invoicing between these to avoid disputes and reconciliation. Leading to benefits in terms of FTE reduction
							</p>
						</div>


						<!--mvp3-->
						<div class="masonryitem" style="background-color:#a4e87f">
							<h2>Automotive Supply Chain Management</h2>
							<p> MVP in progress (Mathew Jones- AAD COC. Planned to be presented @ Partner meet in EU-June)</p>

							<h3>Problem Statement:</h3>
							<p>In the automotive industry, OEM’s plant must interact and coordinate effectively with multiple tiers of suppliers, third party logistics, warehouse and transportation companies to ensure timely delivery of parts and optimized inventory levels.
								In today’s environment, significant challenges exist that prevent these interactions happening seamlessly.</p>

							<h3>Proposed Solution:</h3>
							<p> A Blockchain based system connected with IoT sensors and smart devices would provide permissioned parties in the supply chain with an accurate and transparent end-to-end view of part location, quantity, status and other useful information. This
								will increase the overall visibility and transparency required across entities in this supply chain and introduce an element of predictability</p>
						</div>



					</div>
				</div>
			</div>


			<!-- Footer -->
			<% include partials/footer %>

		</div>
		
