<!DOCTYPE HTML>
<html>

<head>
	<title>BlockChain MVP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

	<link rel="stylesheet" href="css/main.css" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/mdb.min.css" rel="stylesheet">
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

<div class="container-fluid">
   	<div class="wide"></div>
</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="index" class="logo">
									<span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">BlockChain MVP</span>
								</a>
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="image-header col-md-6 col-sm-12 col-lg-6 col-xs-12">
					<img src="images/banner.jpg" alt=""/>
				</div>
				<div class="image-header col-md-6 col-sm-12 col-lg-6 col-xs-12">
					<img src="images/banner.jpg" alt=""/>
				</div>
		</div>
		</div>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="generic">Ipsum veroeros</a></li>
				<li><a href="generic">Tempus etiam</a></li>
				<li><a href="generic">Consequat dolor</a></li>
				<li><a href="elements">Elements</a></li>
			</ul>
		</nav>

		<main>
			<div class="container">
				<!--First row-->
        <div class="row">
					<div class="col-md-7">
					    <!--Featured image -->
					    <div class="view overlay hm-white-light z-depth-1-half">
					        <img src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg" class="img-fluid " alt="">
					        <div class="mask">
					        </div>
					    </div>
					    <br>
					</div>

					<!--Main information-->
					<div class="col-md-5">
						<h2 class="h2-responsive">We are professionals</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!</p>
						<a href="" class="btn btn-primary">Get it now!</a>
					</div>
        </div>
        <!--/.First row-->


				<div class="row">
				    <!--First columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="images/bmw.png" class="img-fluid" alt="" style="margin: 0 auto">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--First columnn-->

				    <!--Second columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="https://mdbootstrap.com/images/regular/city/img%20(4).jpg" class="img-fluid" alt="">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--Second columnn-->

				    <!--Third columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="https://mdbootstrap.com/images/regular/city/img%20(8).jpg" class="img-fluid" alt="">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--Third columnn-->
				</div>
				<!--/.Second row-->

			</div>
		</main>


		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Get in touch</h2>
					<form method="post" action="#">
						<div class="field half first">
							<input type="text" name="name" id="name" placeholder="Name" />
						</div>
						<div class="field half">
							<input type="email" name="email" id="email" placeholder="Email" />
						</div>
						<div class="field">
							<textarea name="message" id="message" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send" class="special" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
						<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
						<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>

</body>

</html>
