<% layout('layout') %>

	<!--Navbar-->
	<% include partials/topNav %>
	<% include partials/nav %>


<div class="container-fluid">
   	<div class="wide"></div>
</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="index" class="logo">
									<span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">BlockChain MVP</span>
								</a>

			</div>
		</header>

		<!-- <div class="container-fluid">
			<div class="row">
				<div class="image-header col-md-6 col-sm-12 col-lg-6 col-xs-12">
					<img src="images/banner.jpg" alt=""/>
				</div>
				<div class="image-header col-md-6 col-sm-12 col-lg-6 col-xs-12">
					<img src="images/banner.jpg" alt=""/>
				</div>
		</div>
		</div> -->

		<main>
			<div class="container">
				<!--First row-->
        <div class="row">
					<div class="col-md-7">
					    <!--Featured image -->
					    <div class="view overlay z-depth-1-half">
					        <!-- <img src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg" class="img-fluid " alt=""> -->
									<img src="/images/blockchain_in_action.jpg" class="img-fluid " alt="">
					        <div class="mask">
					        </div>
					    </div>
					    <br>
					</div>

					<!--Main information-->
					<div class="col-md-5">
						<h2 class="h2-responsive">Blockchain in action</h2>
						<hr>
						<p>Get yourself familarize with IBM Blockchain. Explore the minimum viable products related to different usecases. Feel the touch of Blockchain.</p>
						<!-- <a href="" class="btn btn-primary">Get it now!</a> -->
					</div>
        </div>
        <!--/.First row-->

				<div class="row" id="mvp-content">
				    <!--First columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="https://mdbootstrap.com/images/regular/city/img%20(3).jpg" class="img-fluid" alt="" style="margin: 0 auto">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--First columnn-->

				    <!--Second columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="https://mdbootstrap.com/images/regular/city/img%20(4).jpg" class="img-fluid" alt="">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--Second columnn-->

				    <!--Third columnn-->
				    <div class="col-md-4">
				        <!--Card-->
				        <div class="card">

				            <!--Card image-->
				            <div class="view overlay hm-white-slight">
				                <img src="https://mdbootstrap.com/images/regular/city/img%20(8).jpg" class="img-fluid" alt="">
				                <a href="#">
				                    <div class="mask"></div>
				                </a>
				            </div>
				            <!--/.Card image-->

				            <!--Card content-->
				            <div class="card-block">
				                <!--Title-->
				                <h4 class="card-title">Card title</h4>
				                <!--Text-->
				                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                <a href="#" class="btn btn-primary">Read more</a>
				            </div>
				            <!--/.Card content-->

				        </div>
				        <!--/.Card-->
				    </div>
				    <!--Third columnn-->
				</div>
				<!--/.Second row-->

			</div>
		</main>


		<!-- Footer -->
		<% include partials/footer %>

	</div>
	<!-- Scripts -->
	<script src="js/mvp.js"></script>
