<% layout('layout') %>

	<!--Navbar-->
	<% include partials/nav %>

		<!-- Main -->
		<section id="main" class="wrapper style1">
			<div class="container-fluid">


					<div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-1">
						<section class="dynamiccontent">
							<h2 class="contentHeader">MVP: INTRA-COMPANY INVOICING : BP</h2>
							<div id="overview">
										<h3>Title Description</h3>
										<p>POC in progress (Demoed to the UK Partner and planned to be shown to client by mid-June)</p>
									</div>

									<div id="benefits">
										<h3>Problem Statement</h3>
										<p>Currently British Petroleum handles reconciliation of \u201cnon-product\u201d related intra-company transactions manually via a bespoke system that logs all disputed transactions. This leads to manual processes that need chasing down, therefore is labor intense and inefficient.</p>
									</div>

									<div id="targetAudience">
										<h3>Proposed Solution</h3>
										<p>Blockchain based solution to capture the Up-front agreement (UPA) between internal departments and follow it through via transactions such as invoicing between these to avoid disputes and reconciliation. Leading to benefits in terms of FTE reduction"
										</p>
									</div>
						</section>
					</div>
				</div>

		</section>

		<!-- Footer -->
		<% include partials/footer %>



	<!-- Scripts -->
	<script src="js/mvp.js"></script>
